<div id="alerts">
	<?php foreach ($_dangerAlerts as $key => $dangerMessage): ?>
		<div class="alert alert-danger alert-dismissible fade show d-flex align-items-center m-1" role="alert" data-bs-dismiss="alert" id="danger-<?= $key ?>">
			<svg class="bi flex-shrink-0 me-2" width="24" height="24" fill="currentColor" role="img" aria-label="Danger:">
				<use xlink:href="<?= $this->getAsset('bootstrap-icons.svg') ?>#exclamation-triangle-fill"/>
			</svg>
			<div>
				<?= $dangerMessage ?>
			</div>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<?php endforeach; ?>
	<?php foreach ($_infoAlerts as $key => $infoMessage): ?>
		<div class="alert alert-primary alert-dismissible fade show d-flex align-items-center m-1" role="alert" data-bs-dismiss="alert" id="info-<?= $key ?>">
			<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" fill="currentColor" aria-label="Info:">
				<use xlink:href="<?= $this->getAsset('bootstrap-icons.svg') ?>#info-circle-fill"/>
			</svg>
			<div>
				<?= $infoMessage ?>
			</div>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<?php endforeach; ?>
</div>
