<?php
foreach ($_debugVariables as $key => $debugVariable) : ?>
<div class="alert alert-warning m-1 p-1">
	<h5 class="alert-heading"> <?= $key?></h5>
	<p><?php var_dump($debugVariable);?></p>
</div>
<?php
endforeach; ?>

