<div class="navbar navbar-dark bg-dark">
	<div class="container-fluid myHeader">
		<h1 class="navbar-brand">
			Intranet 6.0
		</h1>
		<button class="btn btn-primary nav-item">
			Log out
		</button>
	</div>
</div>