<div class="sidebar d-flex flex-column flex-shrink-0 p-3 ">
	<div class="d-flex flex-column align-items-baseline">
		<h2 class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
			<span class="fs-4">Name Surname</span>
		</h2>
		<p>Teacher</p>
	</div>
	<hr>
	<ul class="nav nav-pills flex-column">
		<li class="nav-item">
			<a href="#" class="nav-link link-light fs-6">
				Classification
			</a>
		</li>
	</ul>
</div>
