//Colors

$black: #000000;
$black-light: #323c42;
$gray-dark: #777373;
$blood-red: #660708;
$ruby-red: #a4161a;
$carnelian-red: #ba181b;
$imperial-red: #e5383b;
$change-color: #ff8063;
$silver: #b1a7a6;
$gray: #d3d3d3;
$gray-light: #d3d3d3;
$white: #ffffff;

//Variables
