@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;600;800&display=swap");
.schedule-container {
  background-color: #a4161a;
  border-radius: 25px;
  margin: auto;
  max-width: 1200px;
  padding: 5px 20px 25px;
  top: -90px;
  width: 100%;
}
.schedule-container h1 {
  margin: 5px 0;
  text-align: center;
}

.schedule-title {
  border-radius: 5px;
  margin: 0 auto;
  padding: 4px;
  width: fit-content;
}

.schedule {
  background-color: #0b090a;
  border: #660708 solid 8px;
  border-radius: 20px;
  border-spacing: 3px;
  font-family: "Inconsolata", monospace;
  margin: 0 auto;
  padding: 10px;
  table-layout: fixed;
  width: 1000px;
}
.schedule div {
  font-size: 12px;
  margin: auto;
  width: fit-content;
}
.schedule .oneGroup {
  -webkit-box-shadow: 1px 2px 5px -1px #d3d3d3;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 5px;
  -moz-box-shadow: 1px 2px 5px -1px #d3d3d3;
  box-shadow: 1px 2px 5px -1px #d3d3d3;
  color: #0b090a;
  display: flex;
  margin: 2px auto;
  min-height: 35px;
  padding: 3px;
  width: 45px;
}
.schedule .change {
  -webkit-box-shadow: 1px 2px 5px -1px #ff8063;
  background-color: #ff8063;
  -moz-box-shadow: 1px 2px 5px -1px #ff8063;
  box-shadow: 1px 2px 5px -1px #ff8063;
  cursor: help;
}
.schedule .subject {
  display: flex;
  flex-direction: row;
}
.schedule .additionalInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.schedule .additionalInfo div, .schedule th div {
  font-size: 9.5px;
}
.schedule td, .schedule th {
  border: #ba181b solid 2px;
  border-radius: 5px;
  height: 80px;
  padding: 2px;
  text-align: center;
}
.schedule th {
  background-color: #660708;
  border: none;
  height: 25px !important;
}
.schedule .invisible {
  background-color: transparent;
  border: none;
}
.schedule span {
  font-size: 16px;
  font-weight: 800;
  padding: 2px 0;
}

.IdForm form {
  align-items: baseline;
  display: flex;
}
.IdForm label, .IdForm input {
  margin-right: 10px;
}
.IdForm button {
  padding: 4px 8px;
}

body {
  background-color: #0b090a;
  color: #ffffff;
  font-family: Arial, serif;
  margin: 0;
}

section {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90%;
}

header {
  align-items: baseline;
  background-color: #323c42;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: row;
  height: 165px;
  justify-content: space-around;
  margin: auto 0;
  width: 100%;
}
header h1 {
  margin: 20px 0;
}

.allButFooter {
  min-height: 750px;
}

footer {
  color: #777373;
  font-weight: 400;
  margin: 0;
  position: relative;
  text-align: center;
}

.debug {
  background-color: #777373;
  border: 5px solid #a4161a;
  border-radius: 20px;
}
.debug .debugVariable {
  border-bottom: 2px #323c42 solid;
  margin: 10px 20px;
  padding: 5px;
}
.debug .debugVariable h3, .debug .debugVariable p {
  margin: 5px;
}

.flashMessage {
  background-color: #b1a7a6;
  border-radius: 15px;
}

/*# sourceMappingURL=index.css.map */
