<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><?= $_title ?></title>
	<script src="<?= $this->getAsset('main.js') ?>"></script>
	<link rel="stylesheet" href="<?= $this->getAsset('main.css') ?>">
</head>
<body>
<div class="d-flex flex-column h-100 position-relative">
	<?php $this->component('Header') ?>
	<div class="container-fluid h-100">
		<div class="row h-100">
			<div class="col-3 h-100 bg-primary text-white">
				<?php $this->component('Sidebar') ?>
			</div>
			<div class="col-9 h-100 main-content text-center">
				<?php $this->component('Alerts') ?>
				<?php $this->component($_mainComponent) ?>
				<?php $this->component('Debug') ?>
			</div>
		</div>
	</div>
	<footer class="myFooter w-100 d-flex align-items-center justify-content-center bg-black">
		<h3 class="fs-5 text-secondary m-4">@Aleš Komárek 2022</h3>
	</footer>
</div>
</body>
</html>
